@import "tailwindcss";

/* Current hosting URL: https://fileserver.touhouengie.com/drive/webpage_data/ */

.pointer { cursor: url('https://fileserver.touhouengie.com/drive/webpage_data/cursors/1/select.cur'), pointer; }
.normal { cursor: url('https://fileserver.touhouengie.com/drive/webpage_data/cursors/1/normal.cur'), default; }
.text { cursor: url('https://fileserver.touhouengie.com/drive/webpage_data/cursors/1/text_sel.cur'), text; }

/* python scheibe */
td {
    background-color: oklch(74.6% 0.16 232.661);
    padding: 10px 30px 10px 30px;
    border-radius: 0.2em;
    text-align: center;
    cursor: default;
}
#result {
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    padding: 10px 30px 10px 30px;
    text-align: right;
}
